/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 23, 2019, 11:19:27 AM
    Author     : BDTASK
*/ 
.select2-container {
    display: block;
    width: 100% !important;
}
.modal-title{
    float: left;
}
.groupprice_txtcls{
    float: right; width: 60%;
}